<p> Welcome, <%= current_user.username %> 

<h2>Citizen Reports </h2> 

<% @reports.each do |report| %> 

    <div> 
    <a href="/reports/<%= report.id %>" <strong>Created At: <%= report.created_at %> </strong></a> <br><%= report.content %>
    <br><%= report.location %></br> 

    <div>

<% end %>
</br>
<a href="/create_report"> Create Report </a></br>
</br>

<a href="/logout"> Log Out </a>

